<h1>Card</h1>
{{#if card}}
<table>
    <thead>
        <tr>
            <th>Curs</th>
            <th>count</th>
            <th>Price</th>
            <th>Sum</th>
        </tr>
    </thead>

    <tbody id='card'>
        {{#each card}}
        <tr>
            <td>{{title}}</td>
            <td>{{count}}</td>
            <td>
                <button class="btn btn-primary js-btn" data-csurf="{{@root.csurf}}" data-id="{{_id}}">delete</button>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
<div><strong>Price</strong> <strong id="price">{{price}}</strong></div>

<form action="/order" method="post">
    <input type="hidden" name="_csrf" value="{{csurf}}">
    <button type="submit" class="btn">make order</div>
</form>
{{else}}
<div> card is empty</div>
{{/if}}