<h1>Edit {{course.title}}</h1>
<form action="/courses/edit" method="post" class="p-3">
    <div class="row">
        <div class="input-field col s6">
            <input placeholder="Placeholder" value="{{course.title}}" id="first_name" type="text" name="title"
                class="validate">
            <label for="first_name">title</label>
        </div>
        <div class="input-field col s6">
            <input id="last_name" type="text" value="{{course.price}}" class="validate" name="price">
            <label for="last_name">price</label>
        </div>
        <div class="input-field col s12">
            <input id="last_name1" type="text" class="validate" name="label" value="{{course.label}}">
            <label for="last_name1">label</label>
        </div>

        <input id="123" type="hidden" class="validate" name="id" value="{{course.id}}">

        <button class="btn waves-effect waves-light" type="submit">
            edit
        </button>
    </div>
</form>
<form action="/courses/delete" method="post">
    <input id="123" type="hidden" class="validate" name="id" value="{{course.id}}">
    <button class="btn waves-effect waves-light" type="submit">
        delete
    </button>
</form>