<h1>{{title}}</h1>
{{#if orders}}
{{#each orders}}
<div class="col s4 m7 offset-4">
    <div class="card horizontal">
        <div class="card-stacked">
            <div class="card-content">
                <p>
                    order № {{_id}}
                </p>
            </div>

            <table>
                <thead>
                    <tr>
                        <th>Curs</th>
                        <th>count</th>
                        <th>Price</th>
                        <th>Sum</th>
                    </tr>
                </thead>

                <tbody id='card'>
                    {{#each courses}}
                    <tr>
                        <td>{{course.title}}</td>
                        <td>{{count}}</td>
                        <td>{{course.price}}</td>
                        <td>{{totalPrice}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>

{{/each}}
{{else}}
order is empty
{{/if}}